body {
    font-family: 'Slabo 27px', serif;
}

#content {
    float: left;
}

#country {
    float: left;
    font-size:12px;
}

aside {
    float: right;
    width: 350px;
}

a {
    text-decoration: none;
    color: #000;
}

#wrapper {
    width: 900px;
    margin: 20px auto;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

footer {
    font-size: 12px;
    margin: 20px;
}